@import 'normalize.css';

body {
  margin: 0 auto;

  width: 1200px;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: Uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 92%;
}

.header__menu-list {
  display: flex;
  gap: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu-link {
  text-decoration: none;
  color: #000;
  line-height: 60px;
}

.header__menu-link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  border-bottom: 3px solid #00acdc;
  padding-bottom: 20px;
}
